.navbar-brand {
    font-family: 'Open Sans', sans-serif;
}
#topNav {
    background-color: white;
    height: 110px;
}
h4 {
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 1px yellow;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    width: 400px;
    margin-left: 100%;
    margin-top: -60px;
}
