img {
    width: 100%;
    margin: auto;
}
.border {
    width: 100%;
    height: 500px;
    margin: auto;
}
.slideshowContainer {
    position: absolute;
    padding-top: 10px;
    width: 55%;
    left: 50%;
    margin-left: -29%;
    border: 5px dashed black;
}
.hp {
    color: white;
    text-align: center;
}
#colOne {
    padding-left: 30px;
}
#colThree {
    padding-right: 35px;
}
#description {
    padding: 0 110px 0 110px;
}
.aboutUs {
    background-color: black;
    padding: 160px 0 160px 0;
    margin-bottom: 100px;
}
.benefits, #icons {
    background-color: black;
}
.benefits {
    padding-bottom: 50px;
}
#icons {
    margin-top: 50px;
}